.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  margin-left: 360px;
  margin-top: 70px;
  
}

h4 {
  font-size: 18px;
  color: #1b3e97;
  font-weight: normal;
}
p {
  font-size: 22px;
  color: #1b3e97;
}

.p2 {
  font-size: 20px;
}

.btn {
  background-color: #1a4e8e;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  color: #ffffff;
  margin-left: 10px;
}

.btn:hover {
  background-color: #98a2b9;
  transition: 0.7s;
}

.container2 p {
  font-size: 18px;
}

.container2 {
  color: #1b3e97;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  width: 610px;
}

.card img {
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
}

.card2 {
  text-decoration: underline;
  color: #1b3e97;
  width: 700px;
  float: right;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
}
